<header>
    <div>
       <form action='/user/create' method='post'>
        <input type="text" placeholder="Enter New User Name" name="username"/>
        <button>Add User</button>
       </form>
    </div>
</header>