<h1>
    <% locals.user %>
    Dashboard
</h1>
<div>
    <!-- <form action="/user/add_topic" method="get"> -->
        <button><a href="/user/add_topic">ADD TOPIC</a></button>
    <!-- </form> -->
    <ul>
        <li>Topic List</li>
        <li>get from database</li>
    </ul>
</div>