<head>
    <link rel="stylesheet" href="../assets/css/">
</head>
<body>
    <form action="/user/login" method="post">
        <input type="text" name="username"/>
        <button>Enter</button>
    </form>

</body>